.comment-text {
    text-align: left;
    margin-left: 10px;
    padding: 5px 0;
}

.comment-input {
    width: 90%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.user {
    font-weight: bold;
}